.root {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.desktopMenu {
    height: 100%;
    width: 100%;
    padding: 32px 0 0;
}

@media (max-width: 1023px) {
    .root {
        width: 100%;
        flex-direction: row;
        gap: 32px;
        padding: 23px 16px;
    }
}