.root {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 0 32px;
    background-color: #F6F6F6;
}

.activeItem {
    box-shadow: 0 0px 0px 1px rgb(0 0 0 / 8%);
}