.root {
    background-color: #FCD99A;
    border-radius: 15px;
    border: none;
    max-height: 35px;
}

.root:hover {
    border: none;
    background-color: #FAC870;
}

.root:active {
    border: none;
    background-color: #F0B347;
}

.root:focus {
    border: none;
}