.root {
    cursor: pointer;
    color: #4a4a4a;
    padding: 8px 16px;
}

.caption {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}