.root {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    min-height: 32px;
    margin: 4px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(74, 74, 74, 0.5);
}

.active {
    color: rgb(74, 74, 74);
}

.icon {
    width: 24px;
    height: 24px;
    color: rgba(74, 74, 74, 0.3);
}

.activeIcon {
    color: #94BBE9FF;
}