.root {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    min-height: 32px;
    margin: 4px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    color: #7a7a7a;
}

.activeIcon {
    color: #d69d38;
}