.root {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff;
    min-height: 32px;
    margin: 4px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active {
    border-color: #dbdbdb;
}