.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    border-radius: 15px;
    padding: 16px;
    background-color: #fefefe;
}

.image {
    flex-grow: 0;
    padding: 0 16px 0 0;
    height: 100%;
    min-width: 130px;
}

.imageInner {
    height: 120px;
    width: 120px;
    border-radius: 15px;
}

.info {
    height: 100%;
    display: flex;

}

.header {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.likeAction {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;
}

.likeCount {
    height: 24px;
    display: flex;
    width: 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
    justify-content: center;
}

.editAction {
    flex-grow: 0;
}

.description {
    word-break: break-word;
    min-height: 25px;
}

.tags {
    width: 100%;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.creationInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-bottom: 6px;
}

.authorInfo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8px;
    height: 100%;
}

.creationDate {
    opacity: 0.5;
    font-size: 16px;
}

@media (max-width: 1023px) {
    .header {
        flex-direction: column;
    }
    .likeAction {
        justify-content: flex-start;
        padding-top: 8px;
    }
}