.root {
    width: 100%;
    border-radius: 15px;
}

.inner {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image {
    flex-grow: 0;
    padding: 0 16px 0 0;
    height: 100%;
    min-width: 130px;
}

.imageInner {
    height: 120px;
    width: 120px;
    border-radius: 15px;
}

.info {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header {
    display: flex;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.likeAction {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;
}

.editAction {
    flex-grow: 0;
}

.description {
    word-break: break-word;
    min-height: 25px;
}

.tags {
    width: 100%;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.creationInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-bottom: 6px;
}

.authorInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.creationDate {
    opacity: 0.5;
}